*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  padding: 5px;
  cursor: pointer;
}

li:hover {
  background-color: teal;
  border-radius: 5px;
}

i {
  padding: 8px;
  cursor: pointer;
  color: rgb(223, 138, 117);
}

i:hover {
  background-color: teal;
  color: white;
  border-radius: 5px;
}